* {
	font-family: 'Montserrat', sans-serif;
}

body {
	margin-left: 100px;
}

h1 {
	font-size: 64px;
	color: #888888;
	text-decoration: underline;
}

input {
	border: 1px solid #cccccc;
	padding: 8px;
} 

button {
	cursor: pointer;
	border: 1px solid #888888;
	background: #888888;
	color: white;
	padding: 8px;
}

img	{
	width: 250px;
}